.currentOption {
  font-weight: bolder;
}
.oldOption {
  color: red;
}

.newOption {
  color: green;
}

#dataTable {
  table-layout: fixed;
}

.btnEssenAbgeholt {
  width: 100%;
}

@media print {
  #uebersichtTables {
    margin-top: -100px;
  }
}
